/classwork/HelloWorld/target/
/classwork/WindowMaster/target/
/classwork/WindowMasterDebug/target/
/classwork/ShapesAndPerimeters/target/
/classwork/StateCapitals/target/
/classwork/SimpleCalculator/target/
