/classwork/HelloWorld/target/
/classwork/WindowMaster/target/
/classwork/WindowMasterDebug/target/
/classwork/ShapesAndPerimeters/target/
/classwork/StateCapitals/target/
/classwork/SimpleCalculator/target/
/classwork/ClassRoster/target/
/classwork/AddressBook/target/
/classwork/StatelessUnitTesting/nbproject/
/classwork/StatelessUnitTesting/target/
/classwork/ClassRoster/nbproject/
